@import "lib/inuit-defaults/settings.defaults";
@import "lib/inuit-functions/tools.functions";
@import "lib/inuit-mixins/tools.mixins";
@import "lib/inuit-normalize/generic.normalize";
@import "lib/inuit-responsive-settings/settings.responsive";
@import "lib/inuit-responsive-tools/tools.responsive";
@import "lib/px-colors/settings.colors";
@import "lib/inuit-tables/objects.tables";

@include media-query(lap-and-up) {
  .table--fixed {
    table-layout: auto;
  }
}

.table {
  @include inuit-font-size(13px);
  color: $true-black;
}

th, td {
  word-wrap: break-word;
  a {
    text-decoration: none;
    color: $blue;
  }
}

.box--flush {
  .table--cells, .table--columns {
    th, td {
      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
}

th {
  @include inuit-font-size(12px);
  text-align: left;
  background: $gray-lightest;
}

.table--cells {
  th {
    border: 0;
  }
  tbody tr:first-child td {
    border-top: 0;
  }
  td:first-child {
    border-left: 0;
  }
  td:last-child {
    border-right: 0;
  }
}

td {
  color: $true-black;
}