////
/// PX-TABLES-DESIGN
/// Basic table styles
/// @group px-tables-design
////

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";

/// Prepend value for all generated classes
/// @group px-tables-design:variables:style
/// @type String [default]
$inuit-table-namespace          : $inuit-namespace !default;

/// Border width
/// @group px-tables-design:variables:style
/// @type Number [default]
$inuit-table-border-width       : 1px !default;

/// Border style
/// @group px-tables-design:variables:style
/// @type String [default]
$inuit-table-border-style       : solid !default;

/// Border color
/// @group px-tables-design:variables:style
/// @type Color [default]
$inuit-table-border-color       : var(--px-table-border-color, $gray4) !default;

/// Enable tables with fixed width columns?
/// @group px-tables-design:variables:flag
/// @type Boolean [default]
$inuit-enable-table--fixed      : false !default;

/// Enable tables with small cell padding?
/// @group px-tables-design:variables:flag
/// @type Boolean [default]
$inuit-enable-table--small      : false !default;

/// Enable tables with large cell padding?
/// @group px-tables-design:variables:flag
/// @type Boolean [default]
$inuit-enable-table--large      : false !default;

/// Enable tables with no borders?
/// @group px-tables-design:variables:flag
/// @type Boolean [default]
$inuit-enable-table--no-cells   : false !default;

/// Enable tables with row borders but no column borders?
/// @group px-tables-design:variables:flag
/// @type Boolean [default]
$inuit-enable-table--rows       : false !default;

/// Enable tables with column borders but no row borders?
/// @group px-tables-design:variables:flag
/// @type Boolean [default]
$inuit-enable-table--columns    : false !default;


/// Enable tables with text alignment in headers
/// @group px-tables-design:variables:style
/// @type String [default]
$inuit-table-header-text-align  : left !default;

/// Default table
.#{$inuit-table-namespace}table,
%#{$inuit-table-namespace}table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th,
  td {
      border: $inuit-table-border-width $inuit-table-border-style $inuit-table-border-color;
      padding: $inuit-base-spacing-unit--small;
  }
  th {
    text-align: $inuit-table-header-text-align;
  }
}

/// Table with fixed column widths
@if ($inuit-enable-table--fixed == true) {
  .#{$inuit-table-namespace}table--fixed,
  %#{$inuit-table-namespace}table--fixed {
      table-layout: fixed;
  }
}

/// Table with small padding / tightly packed cells
@if ($inuit-enable-table--small == true) {
  .#{$inuit-table-namespace}table--small,
  %#{$inuit-table-namespace}table--small {

      th,
      td {
          padding: $inuit-base-spacing-unit--tiny;
      }
  }
}

/// Table with large padding / widely spaced cells
@if ($inuit-enable-table--large == true) {
  .#{$inuit-table-namespace}table--large,
  %#{$inuit-table-namespace}table--large {
      th,
      td {
          padding: $inuit-base-spacing-unit;
      }
  }
}

/// Table with no column borders, just row borders
@if ($inuit-enable-table--rows == true) {
  .#{$inuit-table-namespace}table--rows,
  %#{$inuit-table-namespace}table--rows {
      &,
      th,
      td {
          border: 0 $inuit-table-border-style $inuit-table-border-color;
      }
  }
  .#{$inuit-table-namespace}table--rows,
  %#{$inuit-table-namespace}table--rows {
      border-top-width: $inuit-table-border-width;
      th,
      td {
          border-bottom-width: $inuit-table-border-width;
      }
  }
}

/// Table with no row broders, just column borders
@if ($inuit-enable-table--columns == true) {
  .#{$inuit-table-namespace}table--columns,
  %#{$inuit-table-namespace}table--columns {
      &,
      th,
      td {
          border: 0 $inuit-table-border-style $inuit-table-border-color;
      }
  }
  .#{$inuit-table-namespace}table--columns,
  %#{$inuit-table-namespace}table--columns {
      border-left-width: $inuit-table-border-width;
      th,
      td {
          border-right-width: $inuit-table-border-width;
      }
  }
}

/// Table with no borders at all
@if ($inuit-enable-table--no-cells == true) {
  .#{$inuit-table-namespace}table--no-cells,
  %#{$inuit-table-namespace}table--no-cells {
      th,
      td {
          border: 0;
      }
  }
}
