////
/// PX-TABLES-DESIGN
/// Basic table styles
/// @group px-tables-design
////

@import "px-defaults-design/_settings.defaults.scss";
@import "px-colors-design/_settings.colors.scss";

/// @type String [default] - Prepend value for all generated classes
$inuit-table-namespace          : $inuit-namespace !default;

/// @type Number [default] - Border width
$inuit-table-border-width       : 1px !default;

/// @type String [default] - Border style
$inuit-table-border-style       : solid !default;

/// @type Color [default] - Border color
$inuit-table-border-color       : $gray4 !default;

/// @type Boolean [default] - Produce CSS for tables with a fixed width?
$inuit-enable-table--fixed      : false !default;

/// @type Boolean [default] - Produce CSS for tables cells with tiny padding?
$inuit-enable-table--small      : false !default;

/// @type Boolean [default] - Produce CSS for tables cells with small padding?
$inuit-enable-table--large      : false !default;

/// @type Boolean [default] - Produce CSS for borders around all cells?
$inuit-enable-table--no-cells   : false !default;

/// @type Boolean [default] - Produce CSS for borders only table rows?
$inuit-enable-table--rows       : false !default;

/// @type Boolean [default] - Produce CSS for borders only table columns?
$inuit-enable-table--columns    : false !default;

.#{$inuit-table-namespace}table,
%#{$inuit-table-namespace}table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  th,
  td {
      border: $inuit-table-border-width $inuit-table-border-style $inuit-table-border-color;
      padding: $inuit-base-spacing-unit--small;
  }
  th {
    text-align: left;
  }
}



@if ($inuit-enable-table--fixed == true) {

  /**
   * Force tables into having equal-width columns.
   */
  .#{$inuit-table-namespace}table--fixed,
  %#{$inuit-table-namespace}table--fixed {
      table-layout: fixed;
  }

}



@if ($inuit-enable-table--small == true) {

  /**
   * Tightly packed cells.
   */
  .#{$inuit-table-namespace}table--small,
  %#{$inuit-table-namespace}table--small {

      th,
      td {
          padding: $inuit-base-spacing-unit--tiny;
      }

  }

}





@if ($inuit-enable-table--large == true) {

  /**
   * Tables with widely padded cells.
   */
  .#{$inuit-table-namespace}table--large,
  %#{$inuit-table-namespace}table--large {

      th,
      td {
          padding: $inuit-base-spacing-unit;
      }

  }

}




@if ($inuit-enable-table--rows == true) {

  /**
   * Add borders only to `table`’s rows.
   */
  .#{$inuit-table-namespace}table--rows,
  %#{$inuit-table-namespace}table--rows {

      &,
      th,
      td {
          border: 0 $inuit-table-border-style $inuit-table-border-color;
      }

  }

  .#{$inuit-table-namespace}table--rows,
  %#{$inuit-table-namespace}table--rows {
      border-top-width: $inuit-table-border-width;

      th,
      td {
          border-bottom-width: $inuit-table-border-width;
      }
  }

}





@if ($inuit-enable-table--columns == true) {

  /**
   * Add borders only to `table`’s columns.
   */
  .#{$inuit-table-namespace}table--columns,
  %#{$inuit-table-namespace}table--columns {

      &,
      th,
      td {
          border: 0 $inuit-table-border-style $inuit-table-border-color;
      }
  }

  .#{$inuit-table-namespace}table--columns,
  %#{$inuit-table-namespace}table--columns {
      border-left-width: $inuit-table-border-width;

      th,
      td {
          border-right-width: $inuit-table-border-width;
      }
  }

}



@if ($inuit-enable-table--no-cells == true) {

  /**
   * Remove borders around a `table`.
   */
  .#{$inuit-table-namespace}table--no-cells,
  %#{$inuit-table-namespace}table--no-cells {

      th,
      td {
          border: 0;
      }

  }

}