@include media-query(lap-and-up) {
  .table--fixed {
    table-layout: auto;
  }
}

th, td {
  word-wrap: break-word;
}

.box--flush {
  .table--cells, .table--columns {
    th, td {
      &:first-child {
        border-left: 0;
      }
      &:last-child {
        border-right: 0;
      }
    }
  }
}

.table--cosy th {
  padding-top: .5em;
  padding-bottom: .5em;
}

th {
  @include inuit-font-size(12px);
  font-weight: normal;
  text-align: left;
  text-transform: uppercase;
  color: $gray-dark;
  background: $gray-lightest;
}

td {
  color: $true-black;
}