@import "../inuit-defaults/settings.defaults";
@import "../px-functions-design/tools.functions";

// Predefine the variables below in order to alter and enable specific features.
$inuit-table-namespace          : $inuit-namespace !default;

.#{$inuit-table-namespace}table {
  th, .data-table__header-cell {
    @include inuit-font-size(12px);
    font-weight: normal;
    text-align: $predix-th-text-align;
    text-transform: uppercase;
    color: $predix-th-color;
    background: $predix-th-background-color;
  }

  td, .data-table__body-cell {
    color: $predix-td-color;
    text-align: center;
  }

}

:host {
  /*! This comment will stop cssmin munging this ruleset with body dec above and prevent safari borking on :host */
  font-family: $predix-table-font-family;
}
